nav {
    padding: 40%;
    font-size: large;
    height: 100px;
    
   }
   
   .nav, a {
    text-size-adjust: 50%;   
   }
   
   .fondito{
       
       background-color: rgb(126, 14, 14);
       padding: 3.5%;
       
   }
   
    a {
       height: 70px;
       margin-top: 20px;
       margin-left: 20%;
       width: 60%;
       
   }